body {
    background-image: url(media/backgroundImg.webp);
    background-attachment: fixed;
    background-size: cover;
    font-family: "Times New Roman", Times, serif !important;
      
  }

  .footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(100, 100, 100);
  }

  .FooterImg{
    margin-left: 10px;
  }

  .main-header{
    padding: 10px;
  }